<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body style="background-color:bisque;">
      <div style="text-align: center;">
          {{ title }}
          <a href="/doc">{{link}}</a>
      </div>
  </body>
</html>