<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body style="background-color:bisque;">
      <div style="text-align: center; padding: 200px">
          <h3 style="font-size:25px;">cooperation-platform 协作平台项目后端服务</h3>
          <a href="/api/doc">点击查看接口文档详情</a>
      </div>
  </body>
</html>