<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body style="background-color:bisque;">
      <div style="text-align: center; margin-top:300px;">
          <h3 style="font-size:25px;">{{ title }}</h3>
          <a href="/doc">{{link}}</a>
      </div>
  </body>
</html>